
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- ... rest of your HTML code ... -->
<link rel="stylesheet" href="/css/mystyleAndrea2.css">
<head>
    <style>
        h1 {
          text-align: center;
        }
    </style>
    <title>Service Access GUI</title>
</head>

<body>
<h1 style>Cold Storage Service</h1>

<p>Benvenuti nella <b><span th:text="${arg}">Our Arg</span> </b>interfaccia grafica del servizio Cold Storage Service.</p>
<p style="..."/><b>Free Space </b>:
<label style="font-size:100%;" id="freespace" th:text="${freespace}"></label>
<p style="..."/><b>Current Weight </b>:
<label style="font-size:100%;" id="currentweight" th:text="${currentweight}"></label>
<br>
<p style="..."/><b>Peso prenotato ma non ancora depositato </b>:
<label style ="font-size:100%;" id="pesoPrenotatoNoDepositato" th:text="${pesoPrenotatoNoDepositato}"></label>

<br>
<div class="row">
    <div class="column" >
        <form id="depositsubmit">
            <label style="font-size:100%;" for="foodweight">Inserisci il peso del foodload per generare una richiesta di deposito:</label>
            <br/>
            <input style="font-size:100%;" type="number" id="foodweight" name="foodweight" placeholder="peso in KG" required>
            <!--<input type="submit" class="buttonup"  value="Request">-->
            <input type="submit" id="requestbutton" value="Invia Richiesta" >
        </form>
    </div>
</div>
<br/>
<form id="checksubmit">
    <label style="font-size:100%;" for="varticket">Il tuo ticket è:</label>
    <br/>
    <input style="font-size:100%;" type="text" id="varticket" name="varticket" placeholder="numero ticket " required>
    <input type="submit" id="checkbutton" value="Verifica Ticket" >
</form>

<br/>
<form id="loadsubmit">
    <label style="font-size:100%;" for="varticket">Invia un Load Done e attendi la conferma per liberare l'indoor:</label>
    <br/>
     <input type="submit" id="loadbutton" disabled="true" value="Load Done" >
</form>

</div>



<div class="column" >
    <p style="font-size:150%;">	<span id="maintext" text="Welcome to Cold Storage service"></span></p>
    <!--<textarea style="font-size:150%;" id="outputText" rows=10 cols=40 wrap=on readonly>Welcome to Christmas's service.</textarea>-->

</div>

</div>


<!-- <script src="vendors/jquery/jquery.min.js"></script>-->
<script src="../socket.js"></script>
    <script src="../dinamic.js"></script>

</body>
</html>
